<div class="dropdown message-user ">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup= "true" aria-expanded="false"><%= image_tag message.user.avatar.url(:thumb) %><%= message.user.first_name %>:</button>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         			<% if @current_user_id == message.user.id %>
         				<%= render partial: 'personal_options' %>
         			<% else %>
	        			<%= render partial: 'other_users_options', locals: { user: message.user.id } %> 
	        		<% end %>          
        </div>

</div>

    <div class="message-content">
    	<%= sanitize markdown_to_html(message.content) %>
	</div>
