<div class="description-container">
	<%= image_tag current_user.avatar.profile.url %>
	<% if user == current_user %>
		<div class="privacy pull-right">
			Private? <%= render partial: 'privacy/privatize', locals: { user_id: params[:id] } %><br>
		</div><br>
			<%= "About me:" %><br>
			<div class="description-parent">
				<% if user.description.nil? %>
					<%= render 'descriptions/new' %>
				<% else %>
					<%= render partial: 'descriptions/existing_description', locals: { user: user, updating_user: @user} %>
				<% end %>
			</div>
	<% else %>
		<div class="user-description">
			<%= "About me:" %><br>
			<% if user.description.nil? %>
				<%= "Nothing to see here, move along" %>
			<% else %>
				<%= user.description %>
			<% end %>
		</div>
	<% end %>
</div>