<%= content_tag :div, class: "book_id", data: { id: params[:id] } do %>
<% end %>
<%= @book.name %><br>
<%= content_tag :div, class: "bookRating" do %>
<% end %>
<div class="container">
	<div class="row">
		<div class="col-md-6"></div>
		<div class="col-md-4">
			<%= image_tag current_user.avatar.profile.url %><br>
			<div class="rating"></div>
			<div class="totalRatingStats">
				<div class="totalRating">
					<%= @book_rating %>
				</div>
				<div class="totalCount">
					<%= "(#{@book.rating_count}) "%>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>

<% @chapters.each_with_index do |chapter, index| %>
	<%= link_to "Chapter ##{index+1} -- #{chapter.name}", book_chapter_path(@book, chapter) %><br>
<% end %>

<div class="subscription">
	<% if @subscribed %>
		<%= render partial: 'chapter_groups/subscribe', locals: { user: @user, id: @book.id } %>
	<% else %>
		<%= render partial: 'chapter_groups/unsubscribe', locals: { user: @user, id: @book.id } %>
	<% end %>
</div>

