<!DOCTYPE html>
<html>
  <head>
    <title>Blocmetrics</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
    
  <body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">BookClub</a>
        <% if user_signed_in? %>
          <h5>Welcome, <%= current_user.first_name %> <%=current_user.last_name %></h5>
        <% else %>
          <h5>Welcome, Guest!</h5>
        <% end %>
        <div class="nav nabbar-nav navbar-right">
          <% if user_signed_in? %>
              <div class="pull-right dropdown"><button class="btn    btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup= "true" aria-expanded="false"><strong><%= current_user.email %></strong><%= image_tag current_user.avatar.thumb.url %></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <ul class="dropdown-actions list-unstyled">
                    <%= link_to "Edit Profile", edit_user_registration_path, :class => 'dropdown-item'  %><br>
                    <%= link_to "Sign Out", destroy_user_session_path, :class => 'dropdown-item', method: :delete  %>
                  </ul>
                </div>
              </div>
            </div>
            <%= form_with url: search_path, local: true, method: :get do |f|%>
              <%= f.text_field :q, placeholder: "Search", data: { behavior: "autocomplete" }, class: "form-control mr-sm-2" %>
              <%= f.button "Search", id: 'search', class: 'btn btn-outline-success my-2 my-sm=0' %>
            <% end %>
          </div>
        </nav>

          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %> -
            <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
        </ul>
      </div>
    </nav>
  </header>
    <% if flash[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
    <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>
         </div>
    <% end %>
    <div class="sizing-control"></div>
    <div class="fluid-container">
      <div class="row">
        <div class="col-sm-3" >
          <% if user_signed_in? %>
            <h5>Recent Chats:</h5>
            <ul>
              <% current_user.groups.order(id: :desc).limit(5).each do |group| %>
                <li><%= link_to group.name.truncate(10), messages_path(group_id: group.id), method: :get, data: { behavior: 'group-room-link', group_id: group.id} %></li>
              <% end %>
            </ul>
          <% end %>
        </div>

        <div class="col-sm-6 col-centered">
          <%= yield %>
        </div>

       
      </div>
    </div>

  </body>
</html>
